* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.row {
    display: flex;
    flex: 1;
}

.left-section, .right-section {
    width: 50%;
    height: 100%;
}

.left-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.form-box {
    width: 75%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #669900;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #558800;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    text-decoration: none;
    color: #669900;
}

.right-section {
    background: url('../booking_tour/assets/img0.webp') no-repeat center center;
    background-size: cover;
    background-color: black;
}